
<div
    id="allchat-pane-takeover"
    class="takeover-pane"
    (mousedown)="select();"
    #paneElement
>
    <div
        id="title-bar"
        class="takeover-pane-title-bar"
        (click)="_pane.closeAllchatPane()"
    >
        <strong>All Chat</strong>
        <button
            id="close-btn"
            class="close-takeover-pane-btn"
        >
            x
        </button>
    </div>
    <div
        #paneBodyElement
        id="card-body"
        class="takeover-pane-scrolling-body"
    >
        <div
            *ngFor="let m of _allchat.messages"
            class="pubmsg-line"
        >
            <strong>{{ m.sender }}</strong>:
            {{ m.message }}
        </div>
        <div id="text-input-container">
            <input
                #textInputElement id="text-input"
                [(ngModel)]="msgInput"
                (keydown.enter)="enterKeyDown($event)"
                autocomplete="off"
                (focus)="textInputFocus()"
                (blur)="textInputBlur()"
            >
        </div>
    </div>
</div>
