
div, h2 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    margin:0;
}
#pane-title-container {
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}
#welcome-to-label {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.section-heading {
    font-size: 120%;
    font-weight: bold;
    margin-left:5px;
    margin-bottom: 10px;
}

#trade-ore-btn {
    background-color: #494949;
    font-size: 150%;
    border-radius: 8px;
    cursor: pointer;
    padding:5px;
    margin-left: 14px;
}

#no-ore-notice {
    font-style: italic;
    color: #3d2d2d;
}

.section {
    margin-bottom:8px;
    padding: 4px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
}

#feuling-btn-container {
    margin-top: 8px;
}
#begin-feuling-btn{
    margin-top: 4px;
    font-size: 1.25rem;
    background-color: #003b07;
    color: #ffffff;
    cursor: pointer;
}
#stop-feuling-btn{
    margin-top: 4px;
    font-size: 1.25rem;
    background-color: #3b0000;
    color: #ffffff;
    cursor: pointer;
}
.buy-weapon-btn{
    font-size: 1.25rem;
    background-color: #5d3a00;
    color: #ffffff;
    cursor: pointer;
    margin-left:10px;
}
#ore-price {
    font-weight: bold;
    font-size:1.10rem;
}

#ore-price-label {
    font-size:1.10rem;
}

.td-row-label {
    text-align: left;
    padding-left: 8px;
}

.td-armory-table-value {
    text-align: right;
    padding-left: 12px;
}
