
div {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 650px) {
    #station-pain-container {
        font-size: 1.4rem;
    }
    #pane-title-container {
        margin-top: 0.6rem;
        margin-bottom: 0.8rem;
    }
    #welcome-to-label {
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
    }
    #station-name-label {
        font-size: 2rem;
        margin-bottom: 0.4rem;
    }
}
@media only screen and (max-width: 649px) {
    #station-pain-container {
        font-size: 1.2rem;
    }
    #pane-title-container {
        margin-top: 0.6rem;
        margin-bottom: 0.8rem;
    }
    #welcome-to-label {
        font-style: italic;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 0.4rem;
    }
    #station-name-label {
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
    }
}

.section-heading {
    font-size: 120%;
    font-weight: bold;
    margin-left:5px;
    margin-bottom: 10px;
    color: #2eb55c;
}

#trade-ore-btn {
    background-color: #494949;
    font-size: 150%;
    border-radius: 8px;
    cursor: pointer;
    padding:5px;
    margin-left: 14px;
}

#no-ore-notice {
    font-style: italic;
    color: #ff3838;
}

.section {
    margin-bottom:12px;
    padding: 4px;
    border: 1px solid #2a2a2a;
    background-color: #303030;
    border-radius: 5px;
}

#feuling-btn-container {
    margin-top: 8px;
}
#begin-feuling-btn{
    margin-top: 4px;
    font-size: 1.25rem;
    background-color: #3ae374;;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}
#stop-feuling-btn{
    margin-top: 4px;
    font-size: 1.25rem;
    background-color: #ff4d4d;;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.buy-weapon-btn{
    font-size: 1.25rem;
    background-color: #7158e2;
    color: #ffffff;
    cursor: pointer;
    margin-left:10px;
    border-radius: 5px;
}
#ore-price {
    font-weight: bold;
    font-size:1.10rem;
}

/* #ore-price-label {
    font-size:1.10rem;
} */

.td-row-label {
    text-align: left;
    padding-left: 8px;
}

.td-armory-table-value {
    text-align: right;
    padding-left: 12px;
}
