<div id="station-pain-container">
    <div id="pane-title-container">
        <div id="welcome-to-label">
            Welcome to
        </div>
        <h2>{{ stationName }}</h2>
    </div>
    <div
        id="trade-ore-for-coin-container"
    >
        <div class="section">
            <div class="section-heading">
                Ore Trade Desk
            </div>
            <p><strong>Trade Physical Ore for Virtual Ore Coin</strong></p>
            <p *ngIf="_api.frameData.ship.cargo_ore_mass_kg == 0" id="no-ore-notice">
                You have no raw ore to trade.
            </p>
            <button
                id="trade-ore-btn"
                *ngIf="_api.frameData.ship.cargo_ore_mass_kg > 0"
                (click)="btnClickTradeOreForOreCoin()"
                [disabled]="_api.frameData.ship.cargo_ore_mass_kg == 0"
            >
                💎🔄🪙
            </button>
        </div>
    </div>
    <div class="section">
        <div class="section-heading">Refuel</div>
        <div>
            <div>
                {{ _api.frameData.ship.fuel_level }} / {{ _api.frameData.ship.fuel_capacity }}
            </div>
            <progress
                value="{{ _api.frameData.ship.fuel_level }}"
                max="{{ _api.frameData.ship.fuel_capacity }}"
            >
            </progress>
        </div>
        <div id="feuling-btn-container">
            <table>
                <tr>
                    <td>
                        PRICE
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="ore-price">
                            {{ (_api.frameData.ship.fuel_cost_ore_kg_per_fuel_unit * 75)|number: "1.2-2" }}
                        </span>
                    </td>
                    <td class="td-row-label">
                        <span id="ore-price-label">
                            Ore KG Per Fuel KG
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="ore-price">
                            {{ (_api.frameData.ship.fuel_cost_ore_kg_per_fuel_unit )|number: "1.4-4" }}
                        </span>
                    </td>
                    <td class="td-row-label">
                        <span id="ore-price-label">
                            Ore KG Per Fuel Unit
                        </span>
                    </td>
                </tr>
            </table>
            <button
                id="begin-feuling-btn"
                *ngIf="!_api.frameData.ship.fueling_at_station"
                (click)="btnClickStartFueling()"
            >
                Begin Fueling
            </button>
            <button
                id="stop-feuling-btn"
                *ngIf="_api.frameData.ship.fueling_at_station"
                (click)="btnClickHaltFueling()"
            >
                Halt Fueling
            </button>
        </div>
    </div>
</div>
