
<div>
    <div class="upgrade-type-section">
        <div class="section-heading">
            Core Upgrades
        </div>
        <div>
            <p *ngIf="!_api.frameData.ship.docked_at_station" id="not-docked-at-station">
                You must dock at a station to begin core upgrade research.
            </p>
            <hr *ngIf="!_api.frameData.ship.docked_at_station">
            <div
                class="core-upgrade-container"
                *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics"
            >
                <div
                    [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 1) ? '#00410e;' : '#000000'}"
                    class="core-upgrade-header"
                >
                    <strong>
                        Adanced Electronics
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 1">
                            ✅
                        </span>
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched !== null">
                            ⌛
                        </span>
                    </strong>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 0">
                    <button
                        *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched === null"
                        [disabled]="_api.frameData.ship.docked_at_station === null"
                        class="start-research-btn"
                        (click)="btnStartAdvancedElectronicsUpgrade()"
                    >
                        Start Research
                    </button>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched !== null">
                    <div>
                        time:
                        {{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched|number:"1.0-0" }}
                        / {{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.seconds|number:"1.0-0" }}
                    </div>
                    <progress
                        value="{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched }}"
                        max="{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.seconds }}"
                    >
                    </progress>
                    <div style="margin-top: 8px;">
                        <button
                            *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched !== null"
                            class="cancel-research-btn"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
