
<div>
    <div class="upgrade-type-section">
        <div class="section-heading">
            Core Upgrades
        </div>
        <div>
            <div *ngIf="_api.frameData.ship.docked_at_station === null" id="not-docked-at-station-alert">
                You must dock at a station to begin core upgrade research.
            </div>
            <hr *ngIf="!_api.frameData.ship.docked_at_station">

            <!-- Advanced Electionics -->
            <div class="core-upgrade-container">
                <div
                    [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 1) ? '#00410e;' : '#000000'}"
                    class="upgrade-header"
                >
                    <strong>
                        Adanced Electronics
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 1">
                            ✅
                        </span>
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched !== null">
                            ⌛
                        </span>
                    </strong>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_level == 0">
                    <div
                        class="upgrade-cost-label"
                        *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched === null"
                    >
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                        >
                            🪙{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.ore }}
                        </span>
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                        >
                            🔋{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.electricity|number:"1.0-0" }}
                        </span>
                        ⌛{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.seconds }}
                    </div>
                    <button
                        *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched === null"
                        [disabled]="_api.frameData.ship.docked_at_station === null"
                        class="start-research-btn"
                        (click)="btnStartAdvancedElectronicsUpgrade()"
                    >
                        Research
                    </button>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched !== null">
                    <div>
                        time:
                        {{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched|number:"1.0-0" }}
                        / {{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.seconds|number:"1.0-0" }}
                    </div>
                    <progress
                        value="{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.seconds_researched }}"
                        max="{{ _api.frameData.ship.upgrade_summary.core.advanced_electronics.current_cost.seconds }}"
                    >
                    </progress>
                    <div style="margin-top: 8px;">
                        <button
                            class="cancel-research-btn"
                            (click)="btnCancelAdvancedElectronicsUpgrade()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

            <!-- Titanium Allow Hull -->
            <div class="core-upgrade-container">
                <div
                    [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_level == 1) ? '#00410e;' : '#000000'}"
                    class="upgrade-header"
                >
                    <strong>
                        Titanium Alloy Hull
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_level == 1">
                            ✅
                        </span>
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched !== null">
                            ⌛
                        </span>
                    </strong>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_level == 0">
                    <div
                        class="upgrade-cost-label"
                        *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched === null"
                    >
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                        >
                            🪙{{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.ore }}
                        </span>
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                        >
                            🔋{{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.electricity|number:"1.0-0" }}
                        </span>
                        ⌛{{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.seconds }}
                    </div>
                    <button
                        *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched === null"
                        [disabled]="_api.frameData.ship.docked_at_station === null"
                        class="start-research-btn"
                        (click)="btnStartTitaniumAllowHullUpgrade()"
                    >
                        Research
                    </button>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched !== null">
                    <div>
                        time:
                        {{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched|number:"1.0-0" }}
                        / {{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.seconds|number:"1.0-0" }}
                    </div>
                    <progress
                        value="{{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.seconds_researched }}"
                        max="{{ _api.frameData.ship.upgrade_summary.core.titanium_alloy_hull.current_cost.seconds }}"
                    >
                    </progress>
                    <div style="margin-top: 8px;">
                        <button
                            class="cancel-research-btn"
                            (click)="btnCancelTitaniumAllowHullUpgrade()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

            <!-- Liquid Nitrogen Cooling -->
            <div class="core-upgrade-container">
                <div
                    [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_level == 1) ? '#00410e;' : '#000000'}"
                    class="upgrade-header"
                >
                    <strong>
                        Liquid Nitrogen Cooling
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_level == 1">
                            ✅
                        </span>
                        <span *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched !== null">
                            ⌛
                        </span>
                    </strong>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_level == 0">
                    <div
                        class="upgrade-cost-label"
                        *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched === null"
                    >
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                        >
                            🪙{{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.ore }}
                        </span>
                        <span
                            [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                        >
                            🔋{{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.electricity|number:"1.0-0" }}
                        </span>
                        ⌛{{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.seconds }}
                    </div>
                    <button
                        *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched === null"
                        [disabled]="_api.frameData.ship.docked_at_station === null"
                        class="start-research-btn"
                        (click)="btnStartLiquidNitrogenCoolingUpgrade()"
                    >
                        Research
                    </button>
                </div>
                <div *ngIf="_api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched !== null">
                    <div>
                        time:
                        {{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched|number:"1.0-0" }}
                        / {{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.seconds|number:"1.0-0" }}
                    </div>
                    <progress
                        value="{{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.seconds_researched }}"
                        max="{{ _api.frameData.ship.upgrade_summary.core.liquid_nitrogen_cooling.current_cost.seconds }}"
                    >
                    </progress>
                    <div style="margin-top: 8px;">
                        <button
                            class="cancel-research-btn"
                            (click)="btnCancelLiquidNitrogenCoolingUpgrade()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="upgrade-type-section">
        <div class="section-heading">
            Ship Upgrades
        </div>

        <!-- Engine Newtons -->
        <div
            class="ship-upgrade-container"
            *ngIf="_api.frameData.ship.upgrade_summary.ship.engine_newtons.current_level < _api.frameData.ship.upgrade_summary.ship.engine_newtons.max_level"
        >
            <div
                class="upgrade-header"
            >
                <strong>
                    Engine Thrust
                </strong>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.engine_newtons.seconds_researched === null">
                <div class="upgrade-cost-label">
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                    >
                        🪙{{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.ore }}
                    </span>
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                    >
                        🔋{{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.electricity|number:"1.0-0" }}
                    </span>
                    ⌛{{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.seconds }}
                </div>
                <div
                    *ngFor="let mcun of engineNewtonsMissingCoreUpgrades"
                    class="upgrade-cost-label missing-core-upgrade-label"
                >
                    🔬 requires <strong>{{ mcun }}</strong>
                </div>
                <button
                    *ngIf="_api.frameData.ship.upgrade_summary.ship.engine_newtons.seconds_researched === null"
                    class="start-research-btn"
                    (click)="btnStartEngineNewtonsUpgrade()"
                >
                    Research Level {{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_level + 1 }}
                </button>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.engine_newtons.seconds_researched !== null">
                <div>
                    time:
                    {{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.seconds_researched|number:"1.0-0" }}
                    / {{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.seconds|number:"1.0-0" }}
                </div>
                <progress
                    value="{{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.seconds_researched }}"
                    max="{{ _api.frameData.ship.upgrade_summary.ship.engine_newtons.current_cost.seconds }}"
                >
                </progress>
                <div style="margin-top: 8px;">
                    <button
                        class="cancel-research-btn"
                        (click)="btnCancelEngineNewtonsUpgrade()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- Ore Capacity -->
        <div
            class="ship-upgrade-container"
            *ngIf="_api.frameData.ship.upgrade_summary.ship.ore_capacity.current_level < _api.frameData.ship.upgrade_summary.ship.ore_capacity.max_level"
        >
            <div
                class="upgrade-header"
            >
                <strong>
                    Ore Cargo Capacity
                </strong>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.ore_capacity.seconds_researched === null">
                <div class="upgrade-cost-label">
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                    >
                        🪙{{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.ore }}
                    </span>
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                    >
                        🔋{{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.electricity|number:"1.0-0" }}
                    </span>
                    ⌛{{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.seconds }}
                </div>
                <div
                    *ngFor="let mcun of oreCapacityMissingCoreUpgrades"
                    class="upgrade-cost-label missing-core-upgrade-label"
                >
                    🔬 requires <strong>{{ mcun }}</strong>
                </div>
                <button
                    *ngIf="_api.frameData.ship.upgrade_summary.ship.ore_capacity.seconds_researched === null"
                    class="start-research-btn"
                    (click)="btnStartOreCapacityUpgrade()"
                >
                    Research Level {{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_level + 1 }}
                </button>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.ore_capacity.seconds_researched !== null">
                <div>
                    time:
                    {{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.seconds_researched|number:"1.0-0" }}
                    / {{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.seconds|number:"1.0-0" }}
                </div>
                <progress
                    value="{{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.seconds_researched }}"
                    max="{{ _api.frameData.ship.upgrade_summary.ship.ore_capacity.current_cost.seconds }}"
                >
                </progress>
                <div style="margin-top: 8px;">
                    <button
                        class="cancel-research-btn"
                        (click)="btnCancelOreCapacityUpgrade()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- Scanner Range -->
        <div
            class="ship-upgrade-container"
            *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_range.current_level < _api.frameData.ship.upgrade_summary.ship.scanner_range.max_level"
        >
            <div
                class="upgrade-header"
            >
                <strong>
                    Scanner Range
                </strong>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_range.seconds_researched === null">
                <div class="upgrade-cost-label">
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                    >
                        🪙{{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.ore }}
                    </span>
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                    >
                        🔋{{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.electricity|number:"1.0-0" }}
                    </span>
                    ⌛{{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.seconds }}
                </div>
                <div
                    *ngFor="let mcun of scannerRangeMissingCoreUpgrades"
                    class="upgrade-cost-label missing-core-upgrade-label"
                >
                    🔬 requires <strong>{{ mcun }}</strong>
                </div>
                <button
                    *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_range.seconds_researched === null"
                    class="start-research-btn"
                    (click)="btnStartScannerRangeUpgrade()"
                >
                    Research Level {{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_level + 1 }}
                </button>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_range.seconds_researched !== null">
                <div>
                    time:
                    {{ _api.frameData.ship.upgrade_summary.ship.scanner_range.seconds_researched|number:"1.0-0" }}
                    / {{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.seconds|number:"1.0-0" }}
                </div>
                <progress
                    value="{{ _api.frameData.ship.upgrade_summary.ship.scanner_range.seconds_researched }}"
                    max="{{ _api.frameData.ship.upgrade_summary.ship.scanner_range.current_cost.seconds }}"
                >
                </progress>
                <div style="margin-top: 8px;">
                    <button
                        class="cancel-research-btn"
                        (click)="btnCancelScannerRangeUpgrade()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- Scanner Radar Sensitivity -->
        <div
            class="ship-upgrade-container"
            *ngIf="_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_level < _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.max_level"
        >
            <div
                class="upgrade-header"
            >
                <strong>
                    Scanner RADAR Sensitivity
                </strong>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.seconds_researched === null">
                <div class="upgrade-cost-label">
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                    >
                        🪙{{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.ore }}
                    </span>
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                    >
                        🔋{{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.electricity|number:"1.0-0" }}
                    </span>
                    ⌛{{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.seconds }}
                </div>
                <div
                    *ngFor="let mcun of scannerRadarSensitivityMissingCoreUpgrades"
                    class="upgrade-cost-label missing-core-upgrade-label"
                >
                    🔬 requires <strong>{{ mcun }}</strong>
                </div>
                <button
                    *ngIf="_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.seconds_researched === null"
                    class="start-research-btn"
                    (click)="btnStartScannerRadarSensitivityUpgrade()"
                >
                    Research Level {{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_level + 1 }}
                </button>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.radar_sensitivity.seconds_researched !== null">
                <div>
                    time:
                    {{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.seconds_researched|number:"1.0-0" }}
                    / {{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.seconds|number:"1.0-0" }}
                </div>
                <progress
                    value="{{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.seconds_researched }}"
                    max="{{ _api.frameData.ship.upgrade_summary.ship.radar_sensitivity.current_cost.seconds }}"
                >
                </progress>
                <div style="margin-top: 8px;">
                    <button
                        class="cancel-research-btn"
                        (click)="btnCancelScannerRadarSensitivityUpgrade()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <!-- Scanner Lock Traversal -->
        <div
            class="ship-upgrade-container"
            *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_level < _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.max_level"
        >
            <div
                class="upgrade-header"
            >
                <strong>
                    Scanner Targeting (MAX. Δ°/sec.)
                </strong>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.seconds_researched === null">
                <div class="upgrade-cost-label">
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.ore <= (_api.frameData.ship.cargo_ore_mass_kg + _api.frameData.ship.virtual_ore_kg)) ? '#000000;' : '#ff0000;'}"
                    >
                        🪙{{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.ore }}
                    </span>
                    <span
                        [ngStyle]="{'color': (_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.electricity <= _api.frameData.ship.battery_power) ? '#000000;' : '#ff0000;'}"
                    >
                        🔋{{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.electricity|number:"1.0-0" }}
                    </span>
                    ⌛{{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.seconds }}
                </div>
                <div
                    *ngFor="let mcun of scannerLockTraversalMissingCoreUpgrades"
                    class="upgrade-cost-label missing-core-upgrade-label"
                >
                    🔬 requires <strong>{{ mcun }}</strong>
                </div>
                <button
                    *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.seconds_researched === null"
                    class="start-research-btn"
                    (click)="btnStartScannerLockTraversalUpgrade()"
                >
                    Research Level {{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_level + 1 }}
                </button>
            </div>
            <div *ngIf="_api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.seconds_researched !== null">
                <div>
                    time:
                    {{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.seconds_researched|number:"1.0-0" }}
                    / {{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.seconds|number:"1.0-0" }}
                </div>
                <progress
                    value="{{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.seconds_researched }}"
                    max="{{ _api.frameData.ship.upgrade_summary.ship.scanner_lock_traversal.current_cost.seconds }}"
                >
                </progress>
                <div style="margin-top: 8px;">
                    <button
                        class="cancel-research-btn"
                        (click)="btnCancelScannerLockTraversalUpgrade()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
