
div, h2 {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 650px) {
    .upgrade-type-section {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 649px) {
    .upgrade-type-section {
        font-size: 1.2rem;
    }
}

.upgrade-type-section {
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
}
.section-heading {
    font-size: 125%;
    font-weight: bold;
    margin-left:5px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #ebebeb;
}
#not-docked-at-station-alert {
    font-style: bold;
    color: #ff3838;
    font-size: 120%;
}

.core-upgrade-container {
    margin-bottom: 8px;
    padding: 6px;
    background-color: #303030;
    color: #ebebeb;
    border-radius: 5px;
}

.ship-upgrade-container {
    margin-bottom: 8px;
    padding: 6px;
    background-color: #303030;
    color: #ebebeb;
    border-radius: 5px;
}

.upgrade-header{
    font-size: 115%;
    margin-bottom: 5px;
    color: #ebebeb;
}

.start-research-btn {
    font-size: 110%;
    cursor: pointer;
    color: #ffffff;
    background-color: #00410e;
    border-radius: 5px;
}

.start-research-btn:disabled {
    background-color: #d9d9d9;
    font-style: italic;
    color: #3a3a3a;
    cursor: not-allowed;
}

.cancel-research-btn {
    font-size: 110%;
    cursor: pointer;
    color: #ffffff;
    background-color: #410000;
    border-radius: 5px;
}

.upgrade-cost-label {
    margin-bottom: 5px;
}
.missing-core-upgrade-label {
    color: #ff3838;
}
