
#mainmenu-takeover-pane {
    background-color: #f4b5ff;
}

#title-bar {
    background-color: #660080;
    color: #ffffff;
}

#close-btn {
    color: #ffffff;
    background-color: #30003b;
}

#pane-body {
    padding:5px;
}

#exit-btn {
    background-color:#530000;
    color: #ffffff;
    font-size: 1.2rem;
}