
<div
    id="mainmenu-takeover-pane"
    class="takeover-pane"
    (mousedown)="select();"
    #paneElement
>
    <div
        id="title-bar"
        class="takeover-pane-title-bar"
        (click)="_pane.closeMainMenuPane()"
    >
        <strong>Main Menu</strong>
        <button
            id="close-btn"
            class="close-takeover-pane-btn"
        >
            x
        </button>
    </div>
    <div
        #paneBodyElement
        id="pane-body"
        class="takeover-pane-scrolling-body"
    >
        <div>
            <button id="exit-btn" [disabled]="waitingToExit" (click)="btnClickLeaveMatch()">
                {{ exitBtnText }}
            </button>
        </div>
    </div>
</div>
