

<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/drawMapPreview.js"></script>
        <style>
            html {
                font-family: arial;
            }
            #leave-room-btn {
                background-color: #ff0000;
                color: #ffffff;
                font-weight: bold;
                font-size: 120%;
                border-radius: 4px;
            }
            .gray-border {
                border: 1px solid #7a7a7a;
            }
            .section-container {
                padding: 2rem;
                margin-top: 2rem;
                width:40%;
                border-radius: 4px;;
            }
            #game-owner-form {
                display: none;
            }
            #start-game-btn {
                background-color: rgb(0, 53, 0);
                color: #ffffff;
                font-weight: bold;
                font-size: 120%;
                border-radius: 4px;
            }
            #ping-server-btn {
                background-color: rgb(0, 16, 88);
                color: #ffffff;
                font-weight: bold;
                font-size: 120%;
                border-radius: 4px;
                margin-left: 0.5rem;
            }
            .observer-row {
                border: 1px solid #538aff;
                font-weight: bold;
                color: #520055;
                font-size: 120%;
                margin-bottom: 1rem;
                padding: 0.5rem;
                border-radius: 4px;
            }
            .player-row {
                border: 1px solid #7a7a7a;
                font-weight: bold;
                color: #520055;
                font-size: 120%;
                margin-bottom: 1rem;
                padding: 0.5rem;
                border-radius: 4px;
            }
            .section-header {
                margin: 1rem;
                font-weight: bold;
                font-size: 120%;
                font-style: italic;
                color: #505050;
            }
            #admin-link-container {
                display: none;
            }
        </style>
    </head>
    <body style="margin-left:1rem;">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h1>Game Lobby</h1>
            </div>
            <div style="margin-top:2rem; margin-right:3rem;">
                <button id="leave-room-btn">
                    Leave Room
                </button>
            </div>
        </div>
        <div>
            Logged in as <span id="logged-in-as-span" style="font-weight:bold;"></span>, <a href="/logout">Logout</a>
        </div>
        <div id="admin-link-container">
            <a href="/admin">Admin</a><br>
            <a href="/admin/asset_alignment">Asset Alignment</a>
        </div>
        <hr>
        <div style="text-align: center;">
            <canvas width="450" height="450" id="map-preview-canvas">
            </canvas>
        </div>
        <div style="display:flex; justify-content:space-evenly; ">
            <div class="room-info-container section-container gray-border">
                <div><h2 id="room-name-heading"></h2></div>
                <div id="game-owner-form">
                    <div style="margin-top: 2rem;">
                        <button id="start-game-btn">
                            Start Game
                        </button>
                        <button id="ping-server-btn">
                            Ping Server
                        </button>
                    </div>
                </div>
                <hr>
                <div class="section-header" style="margin-top:2rem;">Observers</div>
                <div id="observers-list">
                </div>
                <hr>
                <div class="section-header" style="margin-top:1.5rem;">Players</div>
                <div id="players-list">

                </div>
            </div>
            <div class="room-chat-container section-container gray-border">
                <div>
                    <h2>Chat</h2>
                    <button id="chat-send-msg">
                        send
                    </button>
                    <input type="text" id="chat-input">
                    <hr>
                    <div id="chat-messages">
                    </div>
                </div>
            </div>
        </div>
        <script>
            function addToChat(text, ttl) {
                const newMsg = document.createElement("div");
                $(newMsg).text(text);
                $(newMsg).css('display', 'none');
                $("#chat-messages").prepend(newMsg);
                $(newMsg).slideDown();
                setTimeout(()=>{
                    $(newMsg).fadeOut();
                }, ttl || 8000);
            }
            function drawLobby(roomDetails, players, userIsOwner) {
                console.log("drawing lobby");
                console.log({roomDetails, players, userIsOwner});

                if(userIsOwner) {
                    console.log("adding");
                    $("#game-owner-form").css("display", "block");

                    $("#start-game-btn").click(() => {
                        $.get({
                            url:"/api/rooms/ping",
                            success: (data, status, xhr) => {
                                if(
                                    xhr.status === 200
                                    && data.ok
                                    && Object.values(data.players).length > 1
                                    && data.map_config.x_unit_length > 0
                                    && data.map_config.y_unit_length > 0
                                    && data.map_config.units_per_meter > 0
                                ) {
                                    $.post({
                                        url: "/api/rooms/start",
                                        success: (sdata, sstatus, sxhr) => {
                                            console.log({sdata, sstatus, sxhr});
                                        },
                                        error: (exhr, estatus, eerror) => {
                                            console.error({exhr, estatus, eerror});
                                            if(exhr.status === 400) {
                                                alert("An error occured: " + exhr.responseText);
                                            }
                                        }
                                    });
                                }
                                else {
                                    alert("Cannot start game yet. Need at least 2 players and the map must be configured.");
                                }
                            },
                            error: (exhr, estatus, eerror) => {
                                console.error({exhr, estatus, eerror});
                                addToChat("An error occured: " + exhr.responseJSON.code, 15000);
                            }
                        });
                    });

                    $("#ping-server-btn").click(() => {
                        $.get({
                            url:"/api/rooms/ping",
                            success: (data, status, xhr) => {
                                console.log({data})
                                if(xhr.status === 200) {
                                    addToChat(
                                        `Server OK: ${data.ok}, phase: ${data.phase}`,
                                        12000,
                                    );
                                    addToChat(
                                        `x units: ${data.map_config.x_unit_length}, y units: ${data.map_config.y_unit_length}, units/meter: ${data.map_config.units_per_meter}`,
                                        12000,
                                    );
                                    addToChat(
                                        `players (${Object.values(data.players).length}): ${Object.values(data.players).map(p => p.player_name).join(", ")}`,
                                        12000,
                                    );
                                }
                            },
                            error: (exhr, estatus, eerror) => {
                                console.error({exhr, estatus, eerror});
                                addToChat("An error occured: " + exhr.responseJSON.code, 15000);
                            }
                        });
                    })
                }

                $("#room-name-heading").text(roomDetails.name);

                $("#observers-list").html("");
                players.filter(p => p.is_observer).forEach(p => {
                    const rowElem = document.createElement("div")
                    $(rowElem).addClass("observer-row")
                    let rowText = p.handle;
                    if(p.player_uuid === roomDetails.room_owner) {
                        rowText += " ⭐";
                    }
                    $(rowElem).text(rowText)
                    $("#observers-list").append(rowElem)
                });

                $("#players-list").html("");
                players.filter(p => !p.is_observer).forEach(p => {
                    const rowElem = document.createElement("div");
                    $(rowElem).addClass("player-row");
                    let rowText = p.handle;
                    if(p.player_uuid === roomDetails.room_owner) {
                        rowText += " ⭐";
                    }
                    $(rowElem).text(rowText)
                    $("#players-list").append(rowElem)
                });

            }

            $(document).ready(() => {

                // Start of CSRF Setup //
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                window.csrftoken = (function (cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                })("csrftoken");
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("csrf-token", window.csrftoken);
                        }
                    }
                });
                // End of CSRF Setup //

                // Draw initial lobby data
                $.get({
                    url: "/api/rooms/details",
                    success: (roomDetails, status, xhr) => {
                        if(roomDetails.roomDetails.phase !== "0-lobby") {
                            return location.reload();
                        }
                        drawLobby(
                            roomDetails.roomDetails,
                            roomDetails.players,
                            roomDetails.userIsOwner,
                        );

                        $.get({
                            url: "/api/maps/list",
                            success: (mapList, status, xhr) => {
                                if(xhr.status === 200) {
                                    const canvas = document.getElementById("map-preview-canvas");
                                    for(let i in mapList){
                                        if(mapList[i].uuid == roomDetails.roomDetails.battle_map_id){
                                            const canvas = document.getElementById("map-preview-canvas");
                                            drawMapPreview(mapList[i], canvas);
                                            break;
                                        }
                                    }

                                }
                            }
                        });
                    },
                });

                $.get({
                    url: "/api/users/details",
                    success: (data, status, xhr) => {
                        if(xhr.status === 200) {
                            $("#logged-in-as-span").text(data.handle);
                            if(data.is_superuser) {
                                $("#admin-link-container").css("display", "block");
                            }
                        }
                    }
                });

                $("#leave-room-btn").click(() => {
                    $("#leave-room-btn").prop("disabled", true);
                    $.post({
                        url: "/api/rooms/leave",
                        success: (data, status, xhr) => {
                            if (xhr.status === 204) {
                                location.reload();
                            } else {
                                console.warn({data, status, xhr})
                                alert("received unexpected response from the server")
                            }
                        },
                        error: (xhr, status, err) => {
                            console.error({err, status, xhr});
                            alert("an error occured");
                        }
                    });
                });

                $(document).on('keypress', event => {
                    const ENTER_KEY = 13;
                    if(event.which == ENTER_KEY) {
                        $("#chat-send-msg").trigger("click");
                    }
                });

                const socket = io("ws://localhost:8000");
                socket.on("connect", () => {
                    console.log("Socket Connected...");
                });
                socket.on("sigkill", ()=>{
                    addToChat("🤖📢 Server has closed this room. Redirecting....")
                    setTimeout(()=>{
                        location.reload();
                    }, 750)
                });
                socket.on("room_lobby_update", (data, msg) => {
                    console.log({room_lobby_update: data});
                    drawLobby(
                        data.roomDetails,
                        data.players,
                    );
                    if(typeof msg !== "undefined") {
                        addToChat(msg);
                    }
                });
                socket.on("pubmsg", msg => {
                    console.log({pubmsg: msg});
                    addToChat(`${msg.sender} 💬 ${msg.message}`);
                });
                socket.on("mapconfig", (data) => {
                    addToChat("🤖📢 the map has updated: " + `${data.x_km} x ${data.y_km} KM`);
                });
                socket.on("startcountdown", data => {
                    console.log({startcountdown: data});
                    location.reload();
                })
                $("#chat-send-msg").click(() =>{
                    const msg = $("#chat-input").val();
                    if(msg) {
                        $("#chat-input").val("");
                        socket.emit("pubmsg", msg);
                    }
                });
            });


        </script>
    </body>
</html>
