
<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/jquery.js"></script>
        <style>
            body {
                font-family: arial;
                margin: 2rem;
            }
            #console-commands {
                display: none;
            }
            pre {
                margin-bottom: 4px;
            }
        </style>
    </head>
    <body>
        <h1>Game Admin</h1>
        <a href="/">back</a>
        <hr>
        <div id="example-commands">
            <div>
                <button
                    onclick="$('#console-commands').slideDown(); $(this).slideUp()"
                    style="margin-bottom: 3px;"
                >
                    Show example console commands</button>
            </div>
            <div id="console-commands">
                <B>Example Console Command</B>
                <pre>
[
    {
        "ship_id": "_UUID_",
        "type": "prop",
        "prop": "coord_x"
        "val": 213233
    },
    {
        "ship_id": "_UUID_",
        "type": "verb",
        "verb": "die"
    },
]
                </pre>
            </div>
        </div>
        <div id="room-PIDs">

        </div>
        <script>
            $(document).ready(()=>{
                // Start of CSRF Setup //
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                window.csrftoken = (function (cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                })("csrftoken");
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("csrf-token", window.csrftoken);
                        }
                    }
                });
                // End of CSRF Setup //
                $.get({
                    url: "/api/admin/rooms/list",
                    success: (roomDetails) => {
                        roomDetails.forEach(room => {
                            console.log(room)
                            let rowContainer = document.createElement("div");
                            let consoleCmdContainer = document.createElement("div");
                            let row = document.createElement("div");
                            rowContainer.append(row);
                            rowContainer.append(consoleCmdContainer);

                            textareaInput = document.createElement('textarea');
                            textareaInput.placeholder = "type console command here";
                            $(textareaInput).css({width:'100%', display:'block', marginBottom:'3px'});
                            sendCmdBtn = document.createElement('button');
                            sendCmdBtn.innerText = "Run Console Command";
                            consoleCmdContainer.append(textareaInput);
                            consoleCmdContainer.append(sendCmdBtn);
                            let resetPlaceholderTimeout;
                            $(sendCmdBtn).click(()=>{
                                const body = {
                                    room_uuid: room.uuid,
                                    commands: JSON.parse(textareaInput.value),
                                }
                                $.post({
                                    url:"/api/admin/command",
                                    contentType: "application/json",
                                    data: JSON.stringify(body),
                                    success: (data, status, xhr) => {
                                        if(xhr.status == 202) {
                                            if(resetPlaceholderTimeout) {
                                                clearTimeout(resetPlaceholderTimeout)
                                            }
                                            textareaInput.value = ''
                                            textareaInput.placeholder = ' command sent'
                                            resetPlaceholderTimeout = setTimeout(()=>{
                                                textareaInput.placeholder = "type console command here";
                                            }, 1300);
                                            return;
                                        }
                                        alert("received unexpected status code: " + xhr.status);
                                    },
                                    error:function(jqXHR, textStatus, errorThrown) {
                                        alert("Error, status = " + textStatus + ", " +
                                            "error thrown: " + errorThrown
                                        );
                                    }
                                });
                            })

                            $(rowContainer).css({
                                "border": "1px solid black",
                                "padding": "3px",
                                "margin-bottom":"2px",
                            });
                            $(row).css({
                                "display":"flex",
                                "justify-content":"space-between",
                                "padding": "3px",
                                "margin-bottom":"2px",
                            });

                            let name = document.createElement("div");
                            $(name).text("name: " + room.name);
                            $(row).append(name);
                            let phase = document.createElement("div");
                            $(phase).text("phase: " + room.phase);
                            $(row).append(phase);
                            let port = document.createElement("div");
                            $(port).text("port: " + room.port);
                            $(row).append(port);

                            let pid = document.createElement("div");
                            $(pid).text("pid: " + room.pid);
                            if(room.pidLive) {
                                $(pid).css({'color': '#009407', 'font-weight': 'bold'}) // green
                            } else {
                                $(pid).css({'color': '#c20000', 'font-weight': 'bold'}) // red
                            }
                            $(row).append(pid);

                            let delbtn = document.createElement("button");
                            $(delbtn).text("🗑️");
                            $(row).append(delbtn);
                            $("#room-PIDs").append(rowContainer);
                            $(delbtn).click(()=>{
                                $(delbtn).prop("disabled", true);
                                $.post({
                                    url:"/api/admin/rooms/delete",
                                    contentType: "application/json",
                                    data: JSON.stringify({room_uuid: room.uuid}),
                                    success: () => {
                                        $(rowContainer).slideUp(rowContainer.remove);
                                    },
                                    error:function(_jqXHR, textStatus, errorThrown) {
                                        alert("Error, status = " + textStatus + ", " +
                                            "error thrown: " + errorThrown
                                        );
                                    }
                                });
                            });
                        });
                    },
                });

            })
        </script>
    </body>
</html>
