
<!DOCTYPE html>
<html>
    <head>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/drawMapPreview.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <style>
            html {
                font-family: arial;
            }
            .room-row {
                display: flex;
                justify-content: space-evenly;
                padding: 1rem;
                margin: 2rem;
                border: 1px solid #a7a7a7;
            }
            .join-btn {
                font-weight: bold;
                background-color: #003600;
                color: #ffffff;
                font-size: 120%;
                border-radius: 4px;
            }
            #admin-link-container, #admin-create-room-container {
                display: none;
            }
            #map-preview-canvas {
                border: 2px solid purple;
                border-radius: 2px;
            }
        </style>
    </head>
    <body style="margin-left:3rem;">
        <div>
            <h1>Join a Room</h1>
        </div>
        <div>
            Logged in as <span id="logged-in-as-span" style="font-weight:bold;"></span>, <a href="/logout">Logout</a>
        </div>
        <div id="admin-link-container">
            <a href="/admin">Admin</a>
        </div>
        <div id="admin-create-room-container">
            <hr>
            <div>
                <h3>Create a New Room</h3>
            </div>
            <div style="display:flex; justify-content: space-evenly;">
                <div>
                    <div>
                        <strong>Map</strong>
                        <select id="new-room-form-map-select">
                        </select>
                    </div>
                    <div style="margin-top:10px;">
                        <strong>Room Name</strong>
                        <input type="text" id="new-room-form-name-input">
                    </div>
                    <div style="margin-top:10px;">
                        <strong>Join as observer</strong>
                        <input type="checkbox" id="new-room-form-is-observer-input">
                    </div>
                    <div style="margin-top:25px;">
                        <button id="create-new-room-btn">
                            Create Room
                        </button>
                    </div>
                </div>
                <div style="margin-left:5px;">
                    <!--Map Preview-->
                    <canvas id="map-preview-canvas" width="400" height="400">
                    </canvas>
                </div>
            </div>
            <hr>
        </div>
        <div id="room-list">

        </div>
        <script>
            function createOrUpdateRoomRow(room) {
                console.log("updating room list", room);
                const roomFull = room.player_count >= room.max_players;
                const roomIsInLobbyPhase = room.phase === '0-lobby';
                const rowElementId = `room-row-${room.uuid}`;
                const rowCountsElemId = rowElementId + "-counts";
                const rowExists = $("#" + rowElementId).length > 0;

                if (!rowExists && !roomFull && roomIsInLobbyPhase) {
                    /* Add row to table
                    */
                    const rowElem = document.createElement('div');
                    $(rowElem).addClass('room-row');
                    $(rowElem).attr("id", rowElementId);

                    // First Column, room name
                    const rowColName = document.createElement('div');
                    $(rowColName).text(room.name);
                    $(rowElem).append(rowColName)

                    // Second Column, room player counts
                    const rowColCounts = document.createElement('div');
                    $(rowColCounts).attr("id", rowCountsElemId);
                    $(rowColCounts).text(`${room.player_count} / ${room.max_players}`);
                    $(rowElem).append(rowColCounts);

                    // Third Column, join room button
                    const rowColJoinBtn = document.createElement('div');
                    const joinBtn = document.createElement('button');
                    $(joinBtn).text("Join");
                    $(joinBtn).addClass("join-btn");

                    $(joinBtn).click(() => {
                        $(joinBtn).prop("disabled", true);
                        $.post({
                            url: "/api/rooms/join",
                            contentType: "application/json",
                            data: JSON.stringify({room_uuid: room.uuid}),
                            success: (data, status, xhr) => {
                                if(xhr.status === 201) {
                                    location.reload();
                                } else {
                                    $(joinBtn).prop("disabled", false);
                                    alert("Yikes! Received an unexpected response from the server");
                                    console.error({data, status, xhr});
                                }
                            },
                            error: (xhr, status, error) => {
                                $(joinBtn).prop("disabled", false);
                                console.error({xhr, status, error});
                                alert("An Error Occured.");
                            }

                        })
                    })
                    rowColJoinBtn.append(joinBtn);
                    $(rowElem).append(rowColJoinBtn);
                    $("#room-list").append(rowElem)
                }

                else if (rowExists && !roomFull && roomIsInLobbyPhase) {
                    /* Update row
                    */
                    $("#" + rowCountsElemId).text(`${room.player_count} / ${room.max_players}`)
                }

                else if (rowExists && (roomFull || !roomIsInLobbyPhase)) {
                    /* Remove row from table
                    */
                    $("#" + rowElementId).remove();
                }

                else {
                    console.warn("Could not add/update/remove room from table");
                    console.warn(room);
                }
            }



            $(document).ready(() => {

                // Start of CSRF Setup //
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                window.csrftoken = (function (cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                })("csrftoken");
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("csrf-token", window.csrftoken);
                        }
                    }
                });
                // End of CSRF Setup //

                // Populate initial list of
                $.get({
                    url: "/api/rooms/list",
                    success: (data, status, xhr) => {
                        if (xhr.status === 200) {
                            data.forEach(createOrUpdateRoomRow);
                        }
                    }
                });

                $.get({
                    url: "/api/users/details",
                    success: (data, status, xhr) => {
                        if(xhr.status === 200) {
                            $("#logged-in-as-span").text(data.handle);
                            if(data.is_superuser) {
                                $("#admin-link-container").css("display", "block");
                                $("#admin-create-room-container").css("display", "block");
                            }
                        }
                    }
                });

                $.get({
                    url: "/api/maps/list",
                    success: (data, status, xhr) => {
                        if(xhr.status === 200) {
                            const s = document.getElementById("new-room-form-map-select");
                            const canvas = document.getElementById("map-preview-canvas");
                            canvas.crea
                            data.forEach((row, i) => {
                                let o = document.createElement("option");
                                $(o).attr("value", row.uuid);
                                $(o).text(`${row.name} (${row.size})`);
                                $("body").data('map-' + row.uuid, row)
                                $(s).append(o);
                                if(i == 0) {
                                    $(s).val(row.uuid);
                                    drawMapPreview(row, canvas)
                                }
                            });
                            $(s).change(() => {
                                const s = document.getElementById("new-room-form-map-select");
                                const mapData = $("body").data("map-" + $(s).val());
                                const canvas = document.getElementById("map-preview-canvas");
                                drawMapPreview(mapData, canvas)
                            })
                        }
                    }
                })

                $("#create-new-room-btn").click(() => {
                    const map_id = $("#new-room-form-map-select").val();
                    const room_name = $("#new-room-form-name-input").val();
                    const owner_is_observer = $("#new-room-form-is-observer-input").is(':checked');
                    if(!map_id || !room_name) {
                        return alert("Room name and map is required.");
                    }
                    $("#create-new-room-btn").prop("disabled", true);
                    const data = { map_id, room_name, owner_is_observer }
                    $.post({
                        url: "/api/rooms/create",
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        success: (data, status, xhr) => {
                            if(xhr.status === 202) {
                                location.reload();
                            } else {
                                $("#create-new-room-btn").prop("disabled", false);
                                alert("Yikes! Received an unexpected response from the server");
                                console.error({data, status, xhr});
                            }
                        },
                        error: (xhr, status, error) => {
                            $("#create-new-room-btn").prop("disabled", false);
                            console.error({xhr, status, error});
                            alert("An Error Occured.");
                        }

                    })
                });

                const socket = io("ws://localhost:8000");
                socket.on("connect", () => {
                    console.log("Socket Connected...");
                });
                socket.on("room_list_update", createOrUpdateRoomRow)
            });
        </script>
    </body>
</html>
