<div *ngIf="data === null">
    <h2><i>OFFLINE</i></h2>
</div>
<div *ngIf="data !== null">
    <div class="section">
        <div class="section-heading">
            <strong>Mass</strong>
        </div>
        <table>
            <tr>
                <td><strong>TOTAL</strong></td>
                <td class="content-td">{{ data.shipMassKG }} KG</td>
            </tr>
            <tr>
                <td><strong>ORE</strong></td>
                <td class="content-td">{{ data.oreCargoMassKg }} KG</td>
            </tr>
            <tr>
                <td><strong>FUEL</strong></td>
                <td class="content-td">{{ data.fuelLevel / 75 }} KG</td> <!-- TODO: repalce magic number -->
            </tr>
        </table>
    </div>
    <hr>
    <div class="section">
        <div class="section-heading">
            <strong>Fuel</strong>
        </div>
        <div>
            {{ data.fuelLevel|number: "1.0-0" }} / {{ data.fuelCapacity|number: "1.0-0" }}
        </div>
        <div id="progress-container">
            <progress value="{{ data.fuelLevel }}" max="{{ data.fuelCapacity }}">
            </progress>
        </div>
        <div *ngIf="data.fuelUsagePerSecond !== null">
            <div>
                <span *ngIf="data.fuelUsagePerSecond < 0" class="usage-label">Use/Sec</span>
                <span *ngIf="data.fuelUsagePerSecond > 0" class="supply-label">Inc/Sec</span>
                {{ data.fuelUsagePerSecond|number: "1.2-2" }}
            </div>
            <div>
                <span *ngIf="data.fuelUsagePerSecond < 0" class="usage-label">Use/Min</span>
                <span *ngIf="data.fuelUsagePerSecond > 0" class="supply-label">Inc/Min</span>
                {{ data.fuelUsagePerMinute|number: "1.2-2" }}
            </div>
        </div>
    </div>
    <hr>
    <div class="section">
        <div class="section-heading">
            <strong>Engine</strong>
        </div>
        <table>
            <tr>
                <td><strong>THRUST</strong></td>
                <td class="content-td">{{ _api.frameData.ship.engine_newtons|number: "1.0-0" }} Newtons</td>
            </tr>
            <tr>
                <strong>THRUST/KG</strong>
                <td class="content-td">
                    {{ (_api.frameData.ship.engine_newtons / _api.frameData.ship.mass)|number: "1.0-0" }} Newtons
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="section">
        <div class="section-heading">
            <strong>Battery</strong>
        </div>
        <div>
            {{ data.batteryPower|number: "1.0-0" }} / {{ data.batteryCapacity|number: "1.0-0" }}
        </div>
        <div id="progress-container">
            <progress value="{{ data.batteryPower }}" max="{{ data.batteryCapacity }}">
            </progress>
        </div>
        <div *ngIf="data.batteryUsagePerSecond !== null">
            <div>
                <span *ngIf="data.batteryUsagePerSecond < 0" class="usage-label">Use/Sec</span>
                <span *ngIf="data.batteryUsagePerSecond > 0" class="supply-label">Inc/Sec</span>
                {{ data.batteryUsagePerSecond|number: "1.2-2" }}
            </div>
            <div>
                <span *ngIf="data.batteryUsagePerSecond < 0" class="usage-label">Use/Min</span>
                <span *ngIf="data.batteryUsagePerSecond > 0" class="supply-label">Inc/Min</span>
                {{ data.batteryUsagePerMinute|number: "1.2-2" }}
            </div>
        </div>
    </div>
    <hr>
    <div class="section">
        <div class="section-heading">
            <strong>Ore</strong>
        </div>
        <div>
            {{ data.oreCargoMassKg }} KG / {{ data.oreCargoCapacityMassKg }} KG
        </div>
        <div id="progress-container">
            <progress value="{{ data.oreCargoMassKg }}" max="{{ data.oreCargoCapacityMassKg }}">
            </progress>
        </div>
    </div>
</div>

