<div *ngIf="data === null">
    <h2><i>OFFLINE</i></h2>
</div>
<div *ngIf="data !== null">
    <div>
        <div class="section-heading">
            <strong>Mass</strong>
        </div>
        <div>
            {{ data.shipMassKG }} Kilograms
        </div>
    </div>
    <hr>
    <div>
        <div class="section-heading">
            <strong>Fuel</strong>
        </div>
        <div>
            {{ data.fuelLevel }} / {{ data.fuelCapacity }}
        </div>
        <div id="progress-container">
            <progress value="{{ data.fuelLevel }}" max="{{ data.fuelCapacity }}">
            </progress>
        </div>
        <div *ngIf="data.fuelUsagePerSecond !== null">
            <div>
                <span *ngIf="data.fuelUsagePerSecond < 0" class="usage-label">Use/Sec</span>
                <span *ngIf="data.fuelUsagePerSecond > 0" class="supply-label">Inc/Sec</span>
                {{ data.fuelUsagePerSecond }}
            </div>
            <div>
                <span *ngIf="data.fuelUsagePerSecond < 0" class="usage-label">Use/Sec</span>
                <span *ngIf="data.fuelUsagePerSecond > 0" class="supply-label">Inc/Sec</span>
                {{ data.fuelUsagePerMinute }}
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="section-heading">
            <strong>Battery</strong>
        </div>
        <div>
            {{ data.batteryPower }} / {{ data.batteryCapacity }}
        </div>
        <div id="progress-container">
            <progress value="{{ data.batteryPower }}" max="{{ data.batteryCapacity }}">
            </progress>
        </div>
        <div *ngIf="data.batteryUsagePerSecond !== null">
            <div>
                <span *ngIf="data.batteryUsagePerSecond < 0" class="usage-label">Use/Sec</span>
                <span *ngIf="data.batteryUsagePerSecond > 0" class="supply-label">Inc/Sec</span>
                {{ data.batteryUsagePerSecond }}
            </div>
            <div>
                <span *ngIf="data.batteryUsagePerSecond < 0" class="usage-label">Use/Min</span>
                <span *ngIf="data.batteryUsagePerSecond > 0" class="supply-label">Inc/Min</span>
                {{ data.batteryUsagePerMinute }}
            </div>
        </div>
    </div>
    <hr>
</div>

