
div {
    font-family: 'Courier New', Courier, monospace;
}
.section-heading {
    margin: 6px;
    font-size: 125%;
    color: #2eb55c;
    text-decoration: underline;
}

@media only screen and (min-width: 650px) {
    .section {
        margin: 6px;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 649px) {
    .section {
        margin: 6px;
        font-size: 1.2rem;
    }
}

#progress-container {
    margin-bottom: 12px;
}

.usage-label {
    color: #ff0000;
    font-weight: bold;
}

.supply-label {
    color: #00460f;
    font-weight: bold;
}

.content-td {
    padding-left: 12px;
    text-align: right;
}

.title-indent-td {
    padding-left: 15px;
}

hr {
    border: 1px solid #2a2a2a;
}
