
#outer-game-display-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sidebar-canvas-container {
    display: flex;
    flex-grow: 1;
}

#sidebar-container {
    width: 10vw;
    max-width: 60px;
    background-color: #1b003f;
}

#canvas-container {
    flex-grow: 1;
}

#graphics-2d-canvas {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    /* display: none; */
}

#graphics-2d-canvas:hover {
    cursor: crosshair;
}

#command-bar-container {
    height: 25vh;
    max-height: 400px;
    background-color: #383838;
    display: flex;
}

.game-display-container {
    /* border: 2px solid red; */
}

.command-bar-column {
    padding:8px;
    text-align: center;
    border-left: 1px solid black;
}

.command-btn {
    width:70px;
    height:70px;
    margin: 2px;
}

.command-bar-column-header {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4px;
    font-weight: bold;
}

.sidebar-btn {
    font-size: 1.1rem;
    margin-bottom: 2px;
    width: 100%;
}

.purple-btn {
    background-color: #f582ff;
}

.blue-btn {
    background-color: #747dff;
}

.gray-btn {
    background-color: #3a3a3a;
}

.yellow-btn {
    background-color: #ffef60;
}

.btn-gap {
    margin-top: 8px;
}

.btn-gap-bottom {
    margin-bottom: 8px;
}


.gd-ctrl-btn {
    width: 100%;
    font-size:115%;
    color: #1b003f;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.gd-ctrl-btn-red {
    width: 100%;
    font-size:115%;
    background-color: #810000;
    color:rgb(218, 218, 218);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.gd-ctrl-btn-red:disabled {
    background-color: #380000;
    color:rgb(73, 73, 73);
}

.gd-ctrl-btn-orange {
    width: 100%;
    font-size:115%;
    background-color: #7c3800;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.gd-ctrl-btn-orange:disabled {
    background-color: #331700;
    color:rgb(73, 73, 73);
}

.chat-notification-ct {
    color: #ffffff;
    background-color: #7c4600;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}

.vertical-switch {
    width: 36px;
    height: 110px;
    margin-left:5px;
    font-weight: bold;
    cursor: pointer;
    border: 8px solid #202020;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    size:110%;
}

#grav-brake-switch-container {
    color: #00ff00;
}

#utility-switch-container {
    display: flex;
    /* flex-direction: column; */
    margin-top: 6px;
}

#tube-launch-velocity-container {
    margin-top: 9px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: left;
}
