
<div id="outer-game-display-container">
    <div id="sidebar-canvas-container" class="game-display-container">
        <div id="sidebar-container" class="game-display-container">
            <div>
                <button class="sidebar-btn dark-btn" style="padding-top:3px">
                    🏳️
                </button>
            </div>
            <div *ngIf="_camera.getMode() !== 'ship'">
                <button class="sidebar-btn" (click)="_camera.setModeShip()">
                    🚀🎥
                </button>
            </div>
            <div  *ngIf="_camera.getMode() !== 'scanner'">
                <button class="sidebar-btn" (click)="_camera.setModeScanner()">
                    📡🎥
                </button>
            </div>
            <div  *ngIf="_camera.getMode() !== 'free'">
                <button class="sidebar-btn" (click)="_camera.setModeFree()">
                    💠🎥
                </button>
            </div>
        </div>
        <div #graphicsCanvasContainer id="canvas-container" class="game-display-container">
            <canvas #graphicsCanvas id="graphics-2d-canvas">
            </canvas>
        </div>
    </div>
    <div id="command-bar-container" class="game-display-container">
        <div class=command-bar-column>
            <div class="command-bar-column-header">
                REACTION WHEEL
            </div>
            <div>
                <button
                    *ngIf="enableActivateReactionWheelBtn"
                    (click)="btnActivateReactionWheel()"
                    class="command-btn"
                    style="background: url('/static/img/activate-rw.jpg'); background-size:100% 100%;"
                >
                </button>
                <button
                    *ngIf="!enableActivateReactionWheelBtn"
                    class="command-btn"
                    style="background: url('/static/img/activate-rw-gs.jpg'); background-size:100% 100%;"
                    disabled
                >
                </button>
            </div>
            <div>
                <button
                    *ngIf="!enableActivateReactionWheelBtn"
                    (click)="btnDeactivateReactionWheel()"
                    class="command-btn"
                    style="background: url('/static/img/deactivate-rw.jpg'); background-size:100% 100%;"
                >
                </button>
                <button
                    *ngIf="enableActivateReactionWheelBtn"
                    class="command-btn"
                    style="background: url('/static/img/deactivate-rw-gs.jpg'); background-size:100% 100%;"
                    disabled
                >
                </button>
            </div>
        </div>

        <div class=command-bar-column>
            <div class="command-bar-column-header">
                ENGINE
            </div>
            <div style="display:flex;">
                <div>
                    <!-- Engine Sub Column 1 -->
                    <div>
                        <button
                            *ngIf="enableEngineOnlineBtn"
                            (click)="btnActivateEngine()"
                            class="command-btn"
                            style="background: url('/static/img/activate-engine.jpg'); background-size:100% 100%;"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineOnlineBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-engine-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableEngineOfflineBtn"
                            (click)="btnDeactivateEngine()"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-engine.jpg'); background-size:100% 100%;"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineOfflineBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-engine-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                </div>
                <div style="margin-left:3px;">
                    <!-- Engine Sub Column 2 -->
                    <div>
                        <button
                            *ngIf="enableEngineLightBtn"
                            (click)="btnLightEngine()"
                            class="command-btn"
                            style="background: url('/static/img/light-engine.jpg'); background-size:100% 100%;"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineLightBtn"
                            class="command-btn"
                            style="background: url('/static/img/light-engine-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableEngineUnLightBtn"
                            (click)="btnUnlightEngine()"
                            class="command-btn"
                            style="background: url('/static/img/unlight-engine.jpg'); background-size:100% 100%;"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineUnLightBtn"
                            class="command-btn"
                            style="background: url('/static/img/unlight-engine-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class=command-bar-column>
            <div class="command-bar-column-header">
                Scanner
            </div>
            <div style="display:flex;">
                <div>
                    <!-- Scanner Sub Column 1 -->
                    <div>
                        <button
                            *ngIf="enableScannerActivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-scanner.jpg'); background-size:100% 100%;"
                            (click)="btnActivateScanner()"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerActivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-scanner-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableScannerDeactivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-scanner.jpg'); background-size:100% 100%;"
                            (click)="btnDeactivateScanner()"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerDeactivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-scanner-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                </div>
                <div style="margin-left:3px;">
                    <!-- Scanner Sub Column 2 -->
                    <div>
                        <button
                            *ngIf="enableScannerModeRadarBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-radar.jpg'); background-size:100% 100%;"
                            (click)="btnSetScannerModeRadar()"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerModeRadarBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-radar-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableScannerModeIRBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-ir.jpg'); background-size:100% 100%;"
                            (click)="btnSetScannerModeIR()"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerModeIRBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-ir-gs.jpg'); background-size:100% 100%;"
                            disabled
                        >
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
