
<app-scannerpane *ngIf="_pane.showScannerPane">
</app-scannerpane>

<div id="outer-game-display-container">

    <div id="sidebar-canvas-container" class="game-display-container">
        <div id="sidebar-container" class="game-display-container">
            <div class="btn-gap-bottom">
                <button class="sidebar-btn purple-btn" style="padding-top:3px" title="Menu">
                    ⚙️
                </button>
            </div>
            <div *ngIf="_camera.getMode() !== 'ship'">
                <button class="sidebar-btn" (click)="_camera.setModeShip()" title="Camera: Ship">
                    🚀🎥
                </button>
            </div>
            <div  *ngIf="_camera.getMode() !== 'scanner'">
                <button class="sidebar-btn" (click)="_camera.setModeScanner()" title="Camera: Scanner">
                    📡🎥
                </button>
            </div>
            <div  *ngIf="_camera.getMode() !== 'free'">
                <button class="sidebar-btn" (click)="_camera.setModeFree()" title="Camera: Free">
                    💠🎥
                </button>
            </div>
        </div>
        <div #graphicsCanvasContainer id="canvas-container" class="game-display-container">
            <canvas #graphicsCanvas id="graphics-2d-canvas">
            </canvas>
        </div>
    </div>
    <div id="command-bar-container" class="game-display-container">

        <div class=command-bar-column>
            <div
                class="command-bar-column-header"
                [ngStyle]="{'color': (_api.frameData.ship.engine_online) ? '#00ff00' : '#ffffff'}"
            >
                ENGINE
            </div>
            <div style="display:flex;">
                <div>
                    <!-- Engine Sub Column 1 -->
                    <div>
                        <button
                            *ngIf="enableEngineOnlineBtn"
                            (click)="btnActivateEngine()"
                            class="command-btn"
                            style="background: url('/static/img/activate-engine.jpg'); background-size:100% 100%;"
                            title="Activate Engine"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineOnlineBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-engine-gs.jpg'); background-size:100% 100%;"
                            title="Activate Engine"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableEngineOfflineBtn"
                            (click)="btnDeactivateEngine()"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-engine.jpg'); background-size:100% 100%;"
                            title="Deactivate Engine"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineOfflineBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-engine-gs.jpg'); background-size:100% 100%;"
                            title="Deactivate Engine"
                            disabled
                        >
                        </button>
                    </div>
                </div>
                <div style="margin-left:3px;">
                    <!-- Engine Sub Column 2 -->
                    <div>
                        <button
                            *ngIf="enableEngineLightBtn"
                            (click)="btnLightEngine()"
                            class="command-btn"
                            style="background: url('/static/img/light-engine.jpg'); background-size:100% 100%;"
                            title="Fire Engine"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineLightBtn"
                            class="command-btn"
                            style="background: url('/static/img/light-engine-gs.jpg'); background-size:100% 100%;"
                            title="Fire Engine"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableEngineUnLightBtn"
                            (click)="btnUnlightEngine()"
                            class="command-btn"
                            style="background: url('/static/img/unlight-engine.jpg'); background-size:100% 100%;"
                            title="Stop Engine"
                        >
                        </button>
                        <button
                            *ngIf="!enableEngineUnLightBtn"
                            class="command-btn"
                            style="background: url('/static/img/unlight-engine-gs.jpg'); background-size:100% 100%;"
                            title="Stop Engine"
                            disabled
                        >
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class=command-bar-column>
            <div
                class="command-bar-column-header"
                [ngStyle]="{'color': (_api.frameData.ship.scanner_online) ? '#00ff00' : '#ffffff'}"
            >
                SCANNER | {{ _api.frameData.ship.scanner_mode }}
            </div>
            <div style="display:flex;">
                <div>
                    <!-- Scanner Sub Column 1 -->
                    <div>
                        <button
                            *ngIf="enableScannerActivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-scanner.jpg'); background-size:100% 100%;"
                            (click)="btnActivateScanner()"
                            title="Activate Scanner"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerActivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/activate-scanner-gs.jpg'); background-size:100% 100%;"
                            title="Activate Scanner"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableScannerDeactivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-scanner.jpg'); background-size:100% 100%;"
                            (click)="btnDeactivateScanner()"
                            title="Deactivate Scanner"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerDeactivateBtn"
                            class="command-btn"
                            style="background: url('/static/img/deactivate-scanner-gs.jpg'); background-size:100% 100%;"
                            title="Deactivate Scanner"
                            disabled
                        >
                        </button>
                    </div>
                </div>
                <div style="margin-left:3px;">
                    <!-- Scanner Sub Column 2 -->
                    <div>
                        <button
                            *ngIf="enableScannerModeRadarBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-radar.jpg'); background-size:100% 100%;"
                            (click)="btnSetScannerModeRadar()"
                            title="RADAR mode"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerModeRadarBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-radar-gs.jpg'); background-size:100% 100%;"
                            title="RADAR mode"
                            disabled
                        >
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="enableScannerModeIRBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-ir.jpg'); background-size:100% 100%;"
                            (click)="btnSetScannerModeIR()"
                            title="INFRA RED mode"
                        >
                        </button>
                        <button
                            *ngIf="!enableScannerModeIRBtn"
                            class="command-btn"
                            style="background: url('/static/img/scanner-mode-ir-gs.jpg'); background-size:100% 100%;"
                            title="INFRA RED mode"
                            disabled
                        >
                        </button>
                    </div>
                </div>
                <div style="margin-left:5px;">
                    <!-- Scanner Sub Column 3 -->
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            (click)="btnClickScannerCursorUp()"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.scanner_locking"
                        >
                            ⬆️
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            (click)="btnClickScannerCursorDown()"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.scanner_locking"
                        >
                            ⬇️
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            (click)="btnClickScannerCursorLock()"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.scanner_locking"
                        >
                            lock
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class=command-bar-column>
            <div
                class="command-bar-column-header"
                [ngStyle]="{'color': (_api.frameData.ship.ebeam_can_fire) ? '#00ff00' : '#ffffff'}"
            >
                ENERGY BEAM
            </div>
            <div style="display:flex;">
                <div>
                    <!-- Energy Beam Sub Column 1 -->
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            style="min-width:80px;"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.ebeam_charging || _api.frameData.ship.ebeam_firing"
                            (click)="btnClickChargeEBeam()"
                        >
                            charge ⚡
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            style="min-width:80px;"
                            [disabled]="!_api.frameData.ship.alive || !_api.frameData.ship.ebeam_charging"
                            (click)="btnClickPauseChargeEBeam()"
                        >
                            pause 🔌
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            style="min-width:80px;"
                            [disabled]="!_api.frameData.ship.alive || !_api.frameData.ship.ebeam_can_fire"
                            (click)="btnClickFireEBeam()"
                        >
                            fire 🔥
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class=command-bar-column>
            <div class="command-bar-column-header">
                AUTO PILOT
            </div>
            <div style="display:flex;">
                <div>
                    <div>
                        <button
                            class="gd-ctrl-btn-red"
                            [disabled]="!_api.frameData.ship.alive || !_api.frameData.ship.autopilot_program"
                            (click)="btnDisableAutoPilot()"
                        >
                            OFF
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.autopilot_program == 'position_hold'"
                            (click)="btnAutoPilotHaltPosition()"
                            [ngStyle]="{'color': (_api.frameData.ship.autopilot_program == 'position_hold') ? '#00ff00' : '#000000'}"
                        >
                            HALT
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.autopilot_program == 'lock_target' || !_api.frameData.ship.scanner_lock_target || !_api.frameData.ship.scanner_locked"
                            (click)="btnAutoPilotHeadingLockTarget()"
                            [ngStyle]="{'color': (_api.frameData.ship.autopilot_program == 'lock_target') ? '#00ff00' : '#000000'}"
                        >
                            T-TARGET
                        </button>
                    </div>

                    <div>
                        <button
                            class="gd-ctrl-btn"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.autopilot_program == 'lock_prograde'"
                            (click)="btnAutoPilotHeadingLockPrograde()"
                            [ngStyle]="{'color': (_api.frameData.ship.autopilot_program == 'lock_prograde') ? '#00ff00' : '#000000'}"
                        >
                            T-PRO
                        </button>
                    </div>
                    <div>
                        <button
                            class="gd-ctrl-btn"
                            [disabled]="!_api.frameData.ship.alive || _api.frameData.ship.autopilot_program == 'lock_retrograde'"
                            (click)="btnAutoPilotHeadingLockRetrograde()"
                            [ngStyle]="{'color': (_api.frameData.ship.autopilot_program == 'lock_retrograde') ? '#00ff00' : '#000000'}"
                        >
                            T-RETRO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
