
#ship-pane-takeover {
    background-color: #a6ffc1;
}

#title-bar {
    background-color: #006917;
    color: #ffffff;
}

#close-btn {
    color: #ffffff;
    background-color: #00410e;
}

#subpane-selector {
    margin:5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #808080;
}

#sub-pane-container {
    margin:5px;
}

.subpane-selector-btn {
    margin-right: 3px;
    border-radius: 5px;
    padding: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}
