
<div
    id="draggable-container"
    (mousedown)="select();"
    #paneElement
>
    <div id="title-bar">
        <strong>Ship Menu</strong>
        <button id="close-btn" (click)="_pane.closeShipMenuPane()">
            x
        </button>
    </div>
    <div #paneBodyElement id="card-body">
        <div id="subpane-selector">
            <button
                (click)="selectEngineeringSubPane()"
                class="subpane-selector-btn"
                [ngStyle]="{'background-color': (selectedSubPane == subPaneNameEngineering) ? '#fff784' : '#ebebeb'}"
            >
                🔧
            </button>
            <button
                (click)="selectUpgradesSubPane()"
                class="subpane-selector-btn"
                [ngStyle]="{'background-color': (selectedSubPane == subPaneNameUpgrades) ? '#fff784' : '#ebebeb'}"
            >
                🔬
            </button>
            <button
                *ngIf="_api.frameData.ship.docked_at_station !== null"
                class="subpane-selector-btn temp-subpane-selector-btn"
                (click)="selectStationSubPane()"
                [ngStyle]="{'background-color': (selectedSubPane == subPaneNameStation) ? '#fff784' : '#ebebeb'}"
            >
                🛰️
            </button>
        </div>
        <div id="sub-pane-container">
            <app-engpane *ngIf="selectedSubPane==subPaneNameEngineering || (selectedSubPane==subPaneNameStation && _api.frameData.ship.docked_at_station === null)">
            </app-engpane>
            <app-upgradepane *ngIf="selectedSubPane==subPaneNameUpgrades">
            </app-upgradepane>
            <app-stationpane *ngIf="selectedSubPane==subPaneNameStation && _api.frameData.ship.docked_at_station !== null">
            </app-stationpane>
        </div>
    </div>
</div>
